<% provide(:title, 'Discover friends') %>
<div class="users-index">
  <h1>Discover friends</h1>

  <div class="pagination">
    <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>

  <ul class="users">
    <%= render @users %>
  </ul>

  <div class="pagination">
    <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
