<%= form_for(@micropost, html: { id: 'micropost-form' }) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, placeholder: "Compose new micropost...",
                    class: "form-control micropost-field", rows: 5 %>
  </div>
  <%= f.submit "Post", class: "btn btn-success" %>
<% end %>
