// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/* mixins, variables, etc */
$umich-yellow: #ffcb05;
$umich-blue: #00274c;
$gray-lighter: #e8eaed;
$gray-light: #777;
$gray: #57585b;
$blue-ligther: #5690ef;
$green-light: #278491;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Universal */

body {
  margin-top: 100px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 50px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-left: 80px;
  font-size: 1.4em;
  color: $umich-yellow;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 6px;
  font-weight: bold;
}

#logo:hover {
  opacity: 0.8;
  text-decoration: none;
}

header {
  background-color: $umich-blue;
  height: 55px;
  box-shadow: 2px 2px $umich-yellow;

  ul {
    margin-right: 100px;
    li {
      padding-left: 35px;
      a {
        color: $umich-yellow;
        font-size: 1em;
        &:hover {
          color: $umich-yellow;
          opacity: 0.8;
        }
      }
    }
  }

  .dropdown-menu {
    position: relative;
  }
}

/* footer */

footer {
  border-top: 1px solid $gray-lighter;
  padding: 5px 10px;
  margin: 40px 0 60px;
  a {
    color: #777;
    &:hover {
      color: #4b4d4f;
      text-decoration: none;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


/* view layouts */

.home, .signup, .login, .update, .password-reset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
}

.home {
  height: 55vh;
  .btn-success {
    font-size: 1.2em;
  }
}

.pagination {
  margin: 10px auto 10px 10px;
}

/* forms */

.signup-form, .login-form, .update-form, .reset-form {
  width: 300px;
  .btn {
    margin-top: 15px;
  }
}

.update-form {
  width: 400px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 10px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.error_explanation {
  color: red;
  margin-top: -20px;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.micropost-field {
  width: 280px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.comments-likes {
  margin: 5px 0px 0px 65px;
  display: flex;
  flex-direction: row;
}

/* comments */

.comments-count-span {
  cursor: pointer;
  margin-left: 20px;
  i {
    font-size: 1.2em;
    margin: 2px 5px 0;
  }
}

div[id^="comments-body-mic-"],
.comments {
  list-style: none;
  margin-top: 7px;
  padding: 0;
  li {
    padding: 5px 0;
    border-top: none;
  }
  .gravatar {
    margin: 3px 5px 0 35px;
  }
  .user {
    margin-left: 0;
  }
  .comment-section {
    width: 75%;
    margin-left: 105px;
  }
  .content {
    display: inline;
    margin-left: 5px;
  }
  .timestamp {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    margin-left: 105px;
    .time {
      margin-right: 5px;
    }
    .delete-link {
      margin-right: 20px;
    }
  }
  .comment-likes {
    display: flex;
    flex-direction: row;
  }
}


.comment-form {
  width: 80%;
  margin: 15px auto 0;
  padding: 0;
  .field {
    display: flex;
    margin-bottom: 5px;
    flex-direction: row;
  }
  .comment-textarea {
    width: 500px;
  }
  .btn-success {
    font-size: 0.9em;
    margin: 3px auto auto 10px;
    padding: 5px;
    width: 15%;
  }
}

div[id^="comments-mic-"] {
  display: none;
}

div[id^="alert-mic-"] {
  display: none;
}

.micropost-likes,
.comment-likes,
.comments-count-span {
  display: flex;
  flex-direction: row;
}

.comments-count {
  &:hover {
    text-decoration: underline;
  }
}

/* microposts and comments */

.timestamp {
  a {
    color: $green-light;
    text-decoration: none;
    &:hover {
      color: $blue-ligther;
    }
  }
}

/* likes */
.btn-custom {
  border: white;
  background-color: white;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.like-forms {
  margin-right: 5px;
  i {
    font-size: 1.2em;
  }
}


/* miscellaneous */

.debug_dump {
  background-color: #c9cacc;
  border: 1px solid #c9cacc;
  border-radius: 30px;
  clear: both;
  float: left;
  width: 100%;
  padding: 15px;
  @include box_sizing;
}
