<footer class="footer">
  <small class="text-muted">
    This demo app is built by <a href="https://github.com/tianyuancuipan" target="_blank">Tianyuan Cui Pan</a>.
    <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by rawpixel.com - www.freepik.com</a>.
  </small>
</footer>
