<footer class="footer">
  <small class="text-muted">
    This demo app is built by <a href="https://github.com/tianyuancuipan">Tianyuan Cui Pan</a>.
    Background image credit: <a href="http://www.freepik.com">Designed by Freepik</a>.
  </small>
</footer>
